# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Obsidian
src/content/blog/note/.obsidian
src/content/blog/note/_*

# bun
# bun.lock
bun.lockb

# jupyter notebook
*/**/*.ipynb.md

