// Source Code Pro by Adobe
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&text=,-.0123456789;abcdefghijklmnopqrstuvwxyz©&display=swap");

// KaTeX
@import url("https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css");

// Fork Awesome
@import url("https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css");

// TikZJax
@import url("https://cdn.jsdelivr.net/npm/node-tikzjax@latest/css/fonts.css");

html {
  color-scheme: light;
  --width: 50rem;
  --width-responsible: calc(var(--width) + 10vw);
  --width-code: 100%;
  --accent: #e2890c;
  --color: #000;
  --color-sub: #444;
  --color-code: var(--color);
  --back: #fff;
  --back-sub: #f0f0f0;
  --back-code: #f5f5f5;
  --back-thumb: #e3e3e3;
  --filter: none;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --width-code: 100%;
    --accent: #e6db74;
    --color: #f8f8f8;
    --color-sub: #bbb;
    --back: #333;
    --back-sub: #2a2a2a;
    --back-code: #222;
    --back-thumb: #4a4a4a;
    --filter: invert();

    pre code span {
      color: var(--shiki-dark) !important;
    }
  }
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0;
  padding: 1.5rem 0;
  background-color: var(--back);
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
  line-height: 2;
  color: var(--color);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

main {
  width: 100%;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--accent);
  word-break: break-all;
  transition: 0.2s;
  &:hover {
    color: inherit;
  }
}

.monospace {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  text-transform: lowercase;
}

article {
  --headerMargin: 1.7rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;

  > *, pre > code {
    width: 90%;
    max-width: var(--width);
    margin: var(--headerMargin) auto;
    box-sizing: border-box;
    color: var(--color);
    overflow: hidden;
    text-align: left;
  }

  > h1, > h2, > h3, > h4, > h5 {
    margin-top: 3rem;

    &+h1, &+h2, &+h3, &+h4, &+h5 {
      margin-top: var(--headerMargin);
    }
  }

  mjx-container[jax="CHTML"] {
    font-size: 1.2em;

    &[display="true"] {
      margin: var(--headerMargin) auto !important;
      overflow: hidden;
      overflow-x: auto;
    }

    mjx-xypic {
      filter: var(--filter);
    }
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

    h1 {
      margin: 0;
      text-align: center;
    }
  }

  div.responsive, p:has(> img) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--width-responsible);
    margin-top: calc(var(--headerMargin) + 0.5rem);
    margin-bottom: calc(var(--headerMargin) + 0.5rem);

    img, video, > svg {
      margin: 0 auto;
      max-width: 100%;
      width: unset;
      max-height: var(--width-responsible);
      height: auto;
    }

    table {
      display: block;
      border-collapse: collapse;
      overflow-x: scroll;

      th, td {
        padding: 0.5rem 1rem;
        margin: 0;
      }

      thead {
        border-bottom: 0.1em solid var(--color);

        th {
          background: var(--back);

          &:first-child {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            th, td {
              background: var(--back);
            }
          }

          &:nth-child(even) {
            th, td {
              background: var(--back-sub);
            }
          }
        }

        td:first-child {
          position: sticky;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }
  }

  div.screen {
    padding: 0 1.2em;
    background: var(--back-sub);
  }

  p > code {
    padding: 0.3em 0.5em;
    background-color: var(--back-code);
    border-radius: 0.3em;
    margin: 0 0.5em;
    overflow-wrap: break-word;
    color: var(--color-code);
  }

  pre {
    padding: 1rem 0;
    width: 100%;
    max-width: var(--width-code);
    background-color: var(--back-code) !important;
    line-height: 1.5;

    > code {
      margin: calc(var(--headerMargin) * 0.2) auto;
      display: block;
      tab-size: 2;
      overflow: unset;
      color: var(--color-code);

      > * {
        margin-right: 5vw;
      }
    }
  }

  blockquote {
    border-left: .3rem solid var(--color-sub);
    padding: .2em 1.6em;
    font-style: italic;
  }

  hr {
    border: unset;
    border-top: 1px solid var(--color-sub);
  }

  .footnotes::before {
    content: '';
    display: block;
    width: var(--width);
    margin-top: var(--headerMargin);
    border-top: 1px solid var(--color-sub);
  }

  .katex-display {
    overflow: hidden;
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    height: 4px;
    margin: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #00000000;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--back-thumb);
    border-radius: 2px;
  }
}
