{{ define "main" }}
  <article>
    <h1>
      {{ if or
        (eq .Title .Site.Title)
        (in .Site.Sections .CurrentSection)
      }}
        {{ $.Site.Params.section_prefix }}
        {{- range $key, $item := .Site.Sections }}
          {{- if ne $key 0 }}
            {{ $.Site.Params.section_item_separator | default " - " | safeHTML }}
          {{ end }}
          {{ if eq $item.Section $.Section }}
            <span style="text-transform: capitalize;">
              {{ $item.Section }}
            </span>
          {{ else }}
            <a href="/{{ $item.Section }}/" style="text-transform: capitalize;">
              {{ $item.Section }}
            </a>
          {{ end }}
          {{ end }}
      {{ else }}
        {{ .Title }}
      {{ end }}
    </h1>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            -
            {{- with .Params.tags }}
              {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
              {{- range . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                  <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end }}
              {{- end }}
            {{- end }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
