.post-content {
  @media (max-width: 940px) {
    img,
    video,
    pre {
      max-width: calc(100% + 5rem) !important;
      width: calc(100% + 5rem) !important;
      margin: 0 -2.5rem;
    }

    pre {
      padding: 1em 2.5rem 1em calc(2.5rem - 0.4em) !important;
    }
  }

  ::-webkit-scrollbar {
    height: 6px;
    margin: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #00000000;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff22;
    border-radius: 3px;
  }

  a {
    word-break: break-all;
  }

  table {
    display: block;
    border-collapse: collapse;
    overflow: hidden;
    overflow-x: auto;

    th {
      border-bottom: 1px solid #888;
    }

    th,
    td {
      padding: 0.8rem 1.5rem;
      margin: 0;
    }

    tbody tr:nth-child(even) {
      background: $darkest-color;
    }
  }
}

code {
  overflow-wrap: break-word;
}
