<footer class="monospace">
  &copy; 2015-{(new Date()).getFullYear()}
  <a href="https://github.com/xiupos/xiupos">xiupos</a>
</footer>

<style lang="stylus">
  footer
    font-size 1rem
    font-family monospace
    margin-bottom 1.5rem
    text-align center
    color var(--sub)

    a
      color inherit

      &:hover
        text-decoration underline
</style>
