---
export interface Props {
  links: {name: string, link: string}[];
}

const { links } = Astro.props;
---

<header>
  <nav class="monospace">
    {
      links.map((link) => (
        <a href={link.link}>{link.name}</a>
      ))
    }
  </nav>
</header>

<style lang="stylus">
  header
    font-size 1.2rem
    margin 0em 0 2rem

    nav
      display flex
      justify-content center
      gap 2rem
      flex-wrap wrap

      a
        margin 0
        display: inline-block;
        color inherit

        &:hover
          color var(--accent)
</style>
