<header>
  <nav class="monospace">
    <a href="/">xiupos.net</a>
    <a href="/blog/">blog</a>
  </nav>
</header>

<style lang="stylus">
  header
    font-size 1.2rem
    margin 0em 0 2rem

    nav
      display flex
      justify-content center
      gap 2rem

      a
        margin 0
        display: inline-block;
        color inherit

        &:hover
          color var(--accent)
</style>
