---
export interface Props {
  links: {
    link: string,
    icon: string,
  }[];
}

const { links } = Astro.props;
---

<div class="social">
  {
    links.map((link) => (
      <a href={link.link}><i class={'fa fa-' + link.icon} aria-hidden="true"></i></a>
    ))
  }
</div>

<style lang="stylus">
  // Fork Awesome
  @import url("https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css")

  .social
    display flex
    justify-content center
    align-items center
    align-content center
    gap 0.7em
    margin 0 auto 1.5rem
    font-size 1.7em

    a
      color inherit

      &:hover
        color var(--accent)
</style>
